body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

audio {
  position: absolute;
  bottom: 0;
  right: 0;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
